p {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    line-height: 120%;
}

h1 {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
    padding-top: 5px;
}

p {
    padding-left: 20px;
    margin-top: 0;
    text-align: center;
}

body {
    background: #E0FFFF;
}
